

/* Header markdown class*/
.header {
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
}



/* Body markdown class*/
.body {
    background-color: rgb(111, 140, 220);
    margin: 0px;
}

/* Top div markdown class*/
.doc {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(111, 149, 220);
}



/* Button outer markdown*/
.btn {
    border: none;
    background-color: inherit;
    padding: 16px 30px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    display: inline-block;
  }


/* Button text inherit*/
.default {
    color: rgb(0, 0, 0);
    background-color: rgb(74, 136, 195);
    border-radius: 10px;
    top: 32px;
    stroke-opacity: 1;
    left: 85%;
    position:  absolute;
}

/* Button text inherit*/
.default2 {
    color: rgb(0, 0, 0);
    background-color: rgb(74, 136, 195);
    border-radius: 10px;
    top: 32px;
    stroke-opacity: 1;
    left: 75%;
    position:  absolute;
}

/* On button hover*/
.btn:hover {background: #eee;}



/* Help subtitle*/
.Help {
    font-family: 'Open Sans', sans-serif;
    top: 150px;
    left: 30px;
    font-size: 38px;
    position: absolute;

}

/* Default page attrs*/
.page {
    font-family: 'Open Sans', sans-serif;
    font-size: 33px;
    -webkit-text-stroke: 1px rgb(50, 109, 199);
    border: 10;    
}

/* Special text*/
.util {
    top: 250px;
    left: 90px;
    position: absolute;
}

/* Special animation*/
.util:hover {
    color: rgb(50, 109, 199);
}
/* Special text*/
.util {
    top: 250px;
    left: 90px;
    position: absolute;
}

/* Special animation*/
.util:hover {
    color: rgb(50, 109, 199);
}

/* Special text*/
.utility {
    text-align: center;
}



